<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resto Finder</title>
  <meta charset="UTF-8">
  <link rel="icon" href="../public/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"crossorigin="anonymous"/>
  <meta name="theme-color" content="#FAEED1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resto Finder</title>
  <link rel="manifest" href="../public/app.webmanifest">
</head>

<body>
  <a href="#contentutama" class="skip-link">Menuju ke konten</a>
  <header class="header">
        <div class="name">
          <h3>Resto Finder</h3>
        </div>
        <button id="hamburger" class="Menu">☰</button>
      <nav id ="navbar" class="nav">
        <ul class="nav_list">
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorites</a></li>
          <li><a href="https://www.instagram.com/brilliant.bfr/">About Us</a></li>
        </ul>
      </nav>
  </header>

  <main id="maincontent"></main>
  
  <footer class="footer"> 
    <p class="copyright">© 2024. Resto Finder</p> 
  </footer>
  
</body>
</html>
